.data{
    transition: 0.5s ease;
    margin-left: 10%;
}

.data.active{
    transition: 0.5s ease;
    margin-left: 25%;
}

h2{
    text-align: center;
    margin-top: 1%;
    transition: 0.5s ease;
}

h2.active{
    transition: 0.5s ease;
    margin-left: 20%;
}

h3{
    margin-top: 1%;
}

.buttons{
    margin-top: 2%;
}

.public{
    opacity: 1;
    background-color: rgba(0,136,169,1);
}

.public:hover{
    opacity: 0.75;
    background-color: black;
}

.public.unselected{
    opacity: 0.5;
    background-color: black;
}

.public.unselected:hover{
    background-color: rgba(0,136,169,1);
}

.private{
    margin-left: 2%;
    opacity: 0.5;
    background-color: black;
}

.private:hover{
    opacity: 0.75;
}

.private.selected{
    background-color: rgba(0,136,169,1);
    opacity: 1;
}

.private.selected:hover{
    background-color: black;
    opacity: 0.75;
}

.submit{
    margin-top: 2%;
}

@media (max-width: 850px){
    body{
        font-size: x-small;
    }

    .data{
        margin-left: 15%;
        margin-right: 0%;
    }
}

.form-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.data {
    width: 40%;
}

.description {
    height: 100px;
}

.input-box {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;;
    border: 1px solid grey;
}

.input-group {
    margin-top: 20px;
}

.category-container {
    margin-top: 8px;
    display: flex;
    flex-flow: row wrap;
}

.category-tag {
    display: flex;
    align-items: center;
    background-color: black;
    margin: 5px;
    color: white; 
    padding: 8px;
    font-size: 15px;
}

.delete-tag {
    margin-right: 3px;
    cursor: pointer;
}

.delete-tag:hover {
    color: rgb(160, 160, 160);
}

.preview {
    width: 50%;
    margin-left: 100px;
}

.file-viewer{
    width: 90%;
    min-height: 600px;
    display: none;
}