.data{
    transition: 0.5s ease;
    margin-left: 10%;
}

.data.active{
    transition: 0.5s ease;
    margin-left: 25%;
}

h2{
    text-align: center;
    margin-top: 1%;
    transition: 0.5s ease;
}

h2.active{
    transition: 0.5s ease;
    margin-left: 20%;
}

h3{
    margin-top: 1%;
}

.name{
    width: 90%;
    padding: 1%;
    font-size: small;
}

.links{
    margin-top: 1%;
}

.link{
    width: 90%;
    padding: 1%;
    font-size: small;
}

.desc{
    margin-top: 1%;
}

.description{
    width: 90%;
    padding: 1%;
}

.buttons{
    margin-top: 2%;
}

.public{
    opacity: 1;
    background-color: rgba(0,136,169,1);
}

.public:hover{
    opacity: 0.75;
    background-color: black;
}

.public.unselected{
    opacity: 0.5;
    background-color: black;
}

.public.unselected:hover{
    background-color: rgba(0,136,169,1);
}

.private{
    margin-left: 2%;
    opacity: 0.5;
    background-color: black;
}

.private:hover{
    opacity: 0.75;
}

.private.selected{
    background-color: rgba(0,136,169,1);
    opacity: 1;
}

.private.selected:hover{
    background-color: black;
    opacity: 0.75;
}

.submit{
    margin-top: 2%;
}

@media (max-width: 850px){
    body{
        font-size: x-small;
    }

    .data{
        margin-left: 15%;
        margin-right: 0%;
    }
}