@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-color: white;
    color: black;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 15px calc(100px + 2%);
    background-color: black;
}

.nav__links li, .nav__links a, button{
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

footer{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 0.5%;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
}

.logo{
    cursor: pointer;
    max-height: 100px;
    max-width: 150px;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #0AC8D8;
}

button{
    padding: 9px 25px;
    background-color: rgb(0, 162, 202);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta{
    background-color: #32393E;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}

.sidebar{
    position: fixed;
    width: 50px;
    height: 100%;
    background-color: #323950;
    top: 0;
    left: 0;
    padding: 6px 14px 200px 14px;
    transition: all 0.5s ease;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.sidebar::-webkit-scrollbar {
        display: none;
}
.sidebar.active{
    width: 250px;
}

.sidebar .logo_content .logo{
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
    transition: 0.2s ease;
}

.logo_content .logo img{
    font-size: 28px;
    margin-right: 5px;
    max-width: 150px;
    max-height: 60px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar #menu{
    position: absolute;
    color: white;
    left: 50%;
    top: 6px;
    font-size: 30px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform:  translateX(-50%);
    cursor: pointer;
}

.sidebar #menu:hover{
    transition: 0.5s ease;
    background: black;
}

.sidebar.active #menu{
    left: 90%;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    list-style: none;
    height: 50px;
    width: 100%;
    position: relative;
    line-height: 50px;
}

.sidebar ul li a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
    text-align: center;
}

.sidebar ul li a:hover{
    background: white;
    color: black;
}

.sidebar ul li a img{
    min-height: 40px;
    min-width: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease;
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
    transition: 0.2s ease;
}

.sidebar ul li .tooltip{
    position: absolute;
    height: 35px;
    width: 122px;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    left: 128px;
    top: 0;
    transform: translate(-50% , -50%);
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    color: black;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.sidebar ul li:hover .tooltip{
    top: 50%;
    transition: all 0.5s ease;
    opacity: 1;
}

.home_section{
    transition: 0.5s ease;
    margin-bottom: 30px;
}

.home_section.active{
    transition: 0.5s ease;
    margin-left: 250px;
}

input {
    outline: none;
}

input:focus {
    border: 2px solid rgba(0,136,169,1)
}

.sidebar-icon-wrapper {
    display:flex;
    align-items: center;
}

.sidebar .icon {
    font-size: 12px;
    text-align: center;
    min-width: 45px;
    height: 45px;
}

.last {
    margin-bottom: 50px;
}

.message {
    text-align: center
}