<!DOCTYPE html>
{% load static %}
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../../static/images/title.png" sizes="32x32" type="image/png">
        <title>Studymate | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
        <meta name="description" content="">
        {% block head %}{% endblock %}
    </head>
    <body>
        <section class="home_section">
            <header>
                <img class="logo" src="{% static 'images/logo.png' %}" alt="logo">
                <nav>
                    <ul class="nav__links">
                        <li><a href="{% url 'welcome' %}">Home</a></li>
                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'help' %}">Help</a></li>
                        <li><a href="{% block link %}{% endblock %}">{% block link_title %}{% endblock %}</a></li>
                    </ul>
                </nav>
            </header>
        </section>
        {% block content %}{% endblock %}
        {% block sidebar %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        {% block ending %}{% endblock %}
    </body>
    <br>
    <br>
    <footer>
        Copyright &copy; Studymate - CS50x Final Project
    </footer>
</html>