{% extends 'main/main.html' %}
{% block sidebar %}
<div class="sidebar">
    <div class="logo_content">
        <div class="logo">
            {% load static %}
            <img src="{% static 'images/logo.png' %}" alt="logo">
        </div>
        <i id="menu" class="fa fa-bars fa-2x"></i>
    </div>
    <ul class="nav_list">
                <li>
                    <a href="{% url 'edit_profile' %}">
                        <div class="icon"><img src="/media/{{user.profile_image}}"></div>
                        <span class="links_name">&nbsp; &nbsp; Edit Profile</span>
                    </a>
                </li>
                <li>
                    <a class="sidebar-icon-wrapper" href="{% url 'dashboard' %}">
                        <div class="icon"><i class="fa fa-home fa-2x"></i></div>
                        <span class="links_name">&nbsp; &nbsp; Dashboard</span>
                    </a>
                    <span class="tooltip">Dashboard</span>
                </li>
                <li>
                    <a class="sidebar-icon-wrapper" href="{% url 'agenda' %}">
                        <div class="icon"><i class="fa fa-calendar fa-2x"></i></div>
                        <span class="links_name">&nbsp; &nbsp; Agenda</span>
                    </a>
                    <span class="tooltip">Agenda</span>
                </li>
                <li>
                    <a class="sidebar-icon-wrapper" href="{% url 'archive' %}">
                        <div class="icon"><i class="fa fa-book fa-2x"></i></div>
                        <span class="links_name">&nbsp; &nbsp; Note Archive</span>
                    </a>
                    <span class="tooltip">Note Archive</span>
                </li>
                <li>
                    <a class="sidebar-icon-wrapper" href="{% url 'note_share' %}">
                        <div class="icon"><i class="fa fa-share-alt-square fa-2x"></i></div>
                        <span class="links_name">&nbsp; &nbsp; Note Share</span>
                    </a>
                    <span class="tooltip">Note Share</span>
                </li>
                <li>
                    <a class="sidebar-icon-wrapper" href="{% url 'relax' %}">
                        <div class="icon"><i class="fa fa-coffee fa-2x"></i></div>
                        <span class="links_name">&nbsp; &nbsp; Relax Room</span>
                    </a>
                    <span class="tooltip">Relax Room</span>
                </li>
                <li>
                    <a class="sidebar-icon-wrapper" href="{% url 'course_search' %}">
                        <div class="icon"><i class="fa fa-search fa-2x"></i></div>
                        <span class="links_name">&nbsp; &nbsp; Search Courses</span>
                    </a>
                    <span class="tooltip">Search</span>
                </li>
                <li>
                    <a class="sidebar-icon-wrapper" href="{% url 'my_course' %}">
                        <div class="icon"><i class="fa fa-book-open fa-2x"></i></div>
                        <span class="links_name">&nbsp; &nbsp; My Courses</span>
                    </a>
                    <span class="tooltip">My Courses</span>
                </li>
                <li>
                    <a class="sidebar-icon-wrapper" href="{% url 'settings' %}">
                        <div class="icon"><i class="fa fa-cog fa-2x"></i></div>
                        <span class="links_name">&nbsp; &nbsp; Settings</span>
                    </a>
                    <span class="tooltip">Settings</span>
                </li>
                <li class="last">
                    <a class="sidebar-icon-wrapper" href="{% url 'logout' %}">
                        <div class="icon"><i class="fa fa-sign-out fa-2x"></i></div>
                        <span class="links_name">&nbsp; &nbsp; Logout</span>
                    </a>
                    <span class="tooltip">Logout</span>
                </li>
            </ul>
        </div>
        {% endblock %}