.profile{
    display: flex;
    align-items: flex-start;
    margin-left: 150px;
    transition: 0.5s ease;
}

.profile.active{
    margin-left: 350px;
    transition: 0.5s ease;
}

.profile-image{
    width: 200px;
    height: 200px;
    z-index: 1;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}

.info-box {
    margin-top: -100px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.profile-info {
    margin-top: 60px;
    margin-left: 15px;
}

.name {
    font-size: 40px;
    font-weight: bold;
}

.username {
    font-size: 20px;
}

.cover-image {
    width: 100%;
    height: 400px;
    z-index: -1;
    object-fit: cover;
    object-position: center;
}

.posts {
    margin-left: 20px;
    margin-top: 50px;
}

.post-box {
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    width: 97%;
    padding: 10px;
}

.profile-container {
    border-left: 0.5px solid #E3E6EF;
    width: 70%;
    min-height:700px;
    overflow-y: visible;
}

.right-container {
    width: 20%;
    border-left: 0.5px solid #E3E6EF;
    padding-left: 5px;
    min-height:700px;
    overflow-y: visible;
}

.left-container.small {
    display: none;
}

h2{
    text-align: center;
    margin-top: 2%;
    transition: 0.5s ease;
}

h2.active{
    margin-left: 24%;
    transition: 0.5s ease;
}

h3{
    margin-bottom: 1%;
}


.profile-info-box {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.edit-profile {
    float: right;
    margin-top: 80px;
    margin-left: auto;
    margin-right: 10px;
}

.friend-heading {
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
}

.background_images input{
    width: 40%;
    font-size: medium;
    padding: 0px 5px;
}

.background_images select{
    font-size: medium;
}

.background_images button{
    padding: 5px;
    border-radius: 10px;
}

@media (min-width: 665px) and (max-width: 919.98px){
    .profile.active{
        margin-left: 45%;
    }
}

@media (max-width: 664.98px){
    .profile.active{
        margin-left: 45%;
    }
}

.popup-edit-profile {
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
}

.edit-profile-box {
    position: absolute;
    left: 30%;
    top: 10%;
    width: 40%;
    background-color: white;
    border-radius: 10px;
    height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 8px 3px 30px 0 rgba(0,0,0,0.2);
}

.cover-image-edit{
    width: 100%;
    height: 200px;
    z-index: 4;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
}

.profile-image-edit {
    z-index: 5;
    margin-top: -50px;
    margin-left: 30px;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
}

.form-edit-profile {
    padding: 20px;
}

.form-edit-profile label{
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
}

.form-edit-profile input, .form-edit-profile textarea{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 8px 3px 30px 0 rgba(0,0,0,0.15);
    border: none;
}

.form-edit-profile input:hover, .form-edit-profile textarea:hover{
    box-shadow: 8px 3px 30px 0 rgba(0,0,0,0.2);
    outline:none;
}

.form-edit-profile textarea{
    height: 100px;
}

.button-close {
    float: right;
    z-index: 4;
    color: white;
    position: inherit;
    top: 0%;
    right: 30px;
    font-size: 25px;
    cursor: pointer;
}