.login-title{
    text-align: center;
    margin-top: 3%;
}

.login-box{
    display: block;
    text-align: center;
    margin-top: 1%;
    background-color: #32393E;
    margin-left: 35%;
    margin-right: 35%;
    color: white;
    padding: 1%;
    padding-bottom: 3%;
    border-radius: 2%;
}

input{
    text-align: center;
    padding: 1%;
    border-radius: 50px;
    padding-left: 3%;
    padding-right: 3%;
}

.username{
    margin-top: 2%;
}

.password{
    margin-top: 2%;
}

#usertext{
    margin-top: 4%;
}

#passtext{
    margin-top: 2%;
}

.login-btn{
    margin-top: 10%;
}

h5, h5 a{
    margin-top: 5%;
    text-decoration: none;
    font-family: "poppins", sans-serif;
    font-size: small;
    font-weight: lighter;
}

h5 a{
    color: cyan;
    transition: 0.5s ease;
}

h5 a:hover{
    color: yellow;
    transition: 0.5s ease;
    text-decoration: underline;
}