{% extends "main/main_dashboard.html" %}

{% block title %}Note Share{% endblock %}
{% block head %} 
{% load static %}
<link rel="stylesheet" href="{% static 'notes/css/share.css' %}">
{% endblock %}


{% block content %}
        <section class="search">
            <h2>Search Notes</h2>
            <input id="search-query" type="text" class="search_notes" placeholder="Search a Topic">
            <button id="search-submit" type="submit" class="result" data-url-search="{% url 'search_notes' %}">Search</button>
        </section>
        <section class="notes-container">
            {% for note in notes %}
                <div class="notes">
                    <img src="/media/{{note.thumbnail}}" data-link="{% url 'view_notes' note.id %}">
                    <input class="notes-id" type="hidden" value="{{note.id}}">
                    <div class="action">
                        <input type="hidden" class="notes-is-private" value="true">
                        <div class="edit"><i class="fa fa-pencil"></i></div>
                        <div class="delete"><i class="fa fa-trash-o"></i></div>
                    </div>
                    <h4 data-link="{% url 'view_notes' note.id %}">{{note.title}}</h4>
                </div>
            {% endfor %}
        </section>
{% endblock %}
{% block ending %}
<script>
    let token = "{{csrf_token}}"
</script>
<script type="text/html" id="loader-skeleton">
    <div class="notes note-skeleton">
        <div class="note-card-img loading-skeleton"></div>
        <div class="note-card-title loading-skeleton"></div>
        <div class="note-card-desc loading-skeleton"></div>
    </div>
    <div class="notes note-skeleton">
        <div class="note-card-img loading-skeleton"></div>
        <div class="note-card-title loading-skeleton"></div>
        <div class="note-card-desc loading-skeleton"></div>
    </div>
    <div class="notes note-skeleton">
        <div class="note-card-img loading-skeleton"></div>
        <div class="note-card-title loading-skeleton"></div>
        <div class="note-card-desc loading-skeleton"></div>
    </div>
    <div class="notes note-skeleton">
        <div class="note-card-img loading-skeleton"></div>
        <div class="note-card-title loading-skeleton"></div>
        <div class="note-card-desc loading-skeleton"></div>
    </div>
    <div class="notes note-skeleton">
        <div class="note-card-img loading-skeleton"></div>
        <div class="note-card-title loading-skeleton"></div>
        <div class="note-card-desc loading-skeleton"></div>
    </div>
    <div class="notes note-skeleton">
        <div class="note-card-img loading-skeleton"></div>
        <div class="note-card-title loading-skeleton"></div>
        <div class="note-card-desc loading-skeleton"></div>
    </div>
    <div class="notes note-skeleton">
        <div class="note-card-img loading-skeleton"></div>
        <div class="note-card-title loading-skeleton"></div>
        <div class="note-card-desc loading-skeleton"></div>
    </div>
</script>
<script type="text/javascript" src="{% static 'notes/js/share.js' %}"></script>
{% endblock %}