{% extends "main/main_dashboard.html" %}

{% block title %}Note Share{% endblock %}
{% block head %} 
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'notes/css/share.css' %}">
{% endblock %}


{% block content %}
        <section class="search">
            <h2>Search Notes</h2>
            <input type="text" class="search_notes" placeholder="Search a Topic">
            <button type="submit" class="result">Search</button>
        </section>
        <section class="public">
            <div class="notes">
                <img src="/media/notes/default.jpg">
                <h4>Note Name</h4>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div>
            </div>
        </section>
{% endblock %}
{% block ending %}
<script type="module" src="{% static 'notes/js/share.js' %}"></script>
{% endblock %}