{% extends "main/main_dashboard.html" %}

{% block title %}CS50x: Introduction to programming{% endblock %}
{% block head %} 
{% load static %}
<link rel="stylesheet" href="{% static 'course/css/learn.css' %}">
<link rel="stylesheet" href="{% static 'course/css/markdown.css' %}">
<script src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/katex/dist/contrib/mathtex-script-type.min.js" defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/material-darker.min.css" integrity="sha512-4AE4hJungkjpCKswHkPiPHZFbc94aVAm7fx7vr9k8szz1PZ5fgIisTbKnE4IibTQ3Ut+wkObezOMl5e1F5qDmA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<script src="https://unpkg.com/vue@next"></script>
{% endblock %}

{% block content %}
<div id="app">
    <div class="content">
        <div class="course">
            <h2 class="page-title">{{course.name}}</h2>
            <button @click="unenroll" class="enroll">Enrolled</button>
        </div>
        <div class="lectures" v-cloak>
            <div class="lecture-nav">
                <div class="nav-title">Course Index</div>
                <div class="nav-container">
                    <course-index v-for="(group, index) in groups" :id="index" :details=group></course-index>
                </div>
            </div>
            <div v-show="contentLoading == false" class="lecture-container">
                <h3>[[content_now.group_title]]</h3>
            <hr>
                <div class="course-content">
                    <div class="links">
                        <content-link v-for="(content, index) in contents" :id="index" :details="content"></content-link>
                    </div>
                    <div v-show="contentBoxLoading == false" class="content-box">
                        <iframe v-if="content_now.isVideo" width="100%" height="750px" :src="content_now.video_link" allow="autoplay"></iframe>
                        <div class="text">
                            <h4>[[content_now.content_title]]</h4>
                            <hr>
                            <div v-html="content_now.text_content" class="text-content markdown-body">
                            </div>
                            <div class="action-btn">
                                <button @click="previousContent" class="previous-btn"><i class="fas fa-arrow-left"></i> Previous</button>
                                <button @click="nextContent" class="next-btn">Next <i class="fas fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div v-show="contentBoxLoading" class="content-box">
                        <div class="links link-loading loading"></div>
                        <div class="content-box-loading loading"></div>
                        <div class="text-loading loading"></div>
                    </div>
                </div>
            </div>
            <div v-show="contentLoading" class="lecture-container lecture-container-loading">
                <div class="group-title-loading loading"></div>
                <div class="links link-loading loading"></div>
                <div class="content-box content-box-loading loading"></div>
                <div class="text-loading loading"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block ending %}
<script type="module" src="{% static 'course/js/learn.js' %}"></script>
<script type="text/javascript">
    $(".course").css("background-image", "linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/media/{{course.banner_image}})")
</script>
<script type="text/javascript">
    const ContentLink = {
        delimiters: ["[[","]]"],
        props: ["index", "details"],
        template: `
            <div @click="changeContent" class="content-link" :class="{'content-link-active' : isActive}"><i class="fas" :class="{'fa-play-circle': isVideo, 'fa-list-ul': isText, 'finished': isCompleted}"></i></div>
        `,
        computed: {
            isVideo() {
                return this.details.is_video == true
            },
            isText() {
                return this.details.is_video == false
            },
            isActive() {
                return (this.details.id == this.$parent.active_content)
            },
            isCompleted() {
                return this.details.completed
            }
        },
        methods: {
            changeContent(event) {
                this.$parent.changeContent(this.details.id)
            }
        }
    }
    const CourseIndex = {
        delimiters: ["[[","]]"],
        props: ["index", "details"],
        template:  `
            <div @click="changeGroup" class="nav-item" :class="{'nav-item-active': isActive}"><i class="fa-check-circle" :class="{'fa': isCompleted, 'far': notCompleted, 'uncheck' : notCompleted, 'check': isCompleted}"></i>[[details.title]]</div>
        `,
        computed: {
            isActive() {
                return (this.details.id == this.$parent.active_group)
            },
            isCompleted() {
                return this.details.completed == true
            },
            notCompleted() {
                return this.details.completed != true
            }
        },
        methods: {
            changeGroup() {
                this.$parent.changeGroup(this.details.id)
            },
        }
    }
    var app = Vue.createApp({
        delimiters: ["[[","]]"],
        el: '#app',
        data() {
            return {
                contents: [],
                groups: [],
                last_group: "{{last_content_group}}",
                last_content: "{{progress.last_content}}",
                content_now: {
                    group_title: '',
                    content_title: '',
                    isVideo: false,
                    video_link: '',
                    text_content: '',
                },
                active_content: '',
                active_group: '',
                course_id: "{{course.id}}",
                contentLoading: true,
                contentBoxLoading: true,
            }
        },
        async beforeMount() {
            let self = this
            this.active_content = this.last_content
            this.active_group = this.last_group
            $.ajax({
                type: "GET",
                url: "{% url 'get_course_info' %}",
                data: {
                    "by": "course",
                    "course": "{{course.id}}",
                },
                success: function(res){
                    if (res.status == "success") {
                        self.groups = res.data.groups
                    }
                    self.getGroupProgress()
                }
            })
            await this.getGroup(this.active_group)
            await this.getContent(this.active_content)
            this.contentLoading = false
            this.contentBoxLoading = false
        },
        computed: {
            contentText(){
                return this.content_now.text_content
            }
        },
        watch:{
            contentText() {
                setTimeout(function() {
                    document.querySelectorAll('.code-block').forEach(el => {
                        // then highlight each
                        hljs.highlightElement(el);
                        });
                }, 2000)
            }
        },
        methods:{
            async changeContent(id) {
                this.contentBoxLoading = true
                this.active_content = id
                await this.getContent(id)
                this.contentBoxLoading = false
            },
            async changeGroup(id) {
                this.contentLoading = true
                this.active_group = id
                let res = await this.getGroup(id)
                this.active_content = res
                await this.getContent(this.contents[0].id)
                this.contentLoading = false
            },
            async previousContent() {
                let active_content = this.active_content
                let active_group = this.active_group

                this.contentBoxLoading = true
                let currentIndex = this.contents.findIndex(function (content) {
                    return content.id == active_content
                })
                if (currentIndex == 0) {
                    let currentGroupIndex = this.groups.findIndex(function (group) {
                        return group.id == active_group
                    })
                    if (currentGroupIndex == 0) {
                        alert("First content of the course")
                    }
                    else if (currentGroupIndex != -1) {
                        await this.changeGroup(this.groups[currentGroupIndex - 1].id)
                    }
                }
                else if (currentIndex != -1) {
                    this.contents[currentIndex].completed = true
                    await this.changeContent(this.contents[currentIndex - 1].id)
                }
                this.contentBoxLoading = false
            },
            async nextContent() {
                let active_content = this.active_content
                let active_group = this.active_group

                this.contentBoxLoading = true
                this.completeContent()
                let currentIndex = this.contents.findIndex(function (content) {
                    return content.id == active_content
                })
                if (currentIndex == this.contents.length - 1) {
                    this.contents[currentIndex].completed = true
                    let currentGroupIndex = this.groups.findIndex(function (group) {
                        return group.id == active_group
                    })
                    if (currentGroupIndex == this.groups.length - 1) {
                        this.groups[currentGroupIndex].completed = true
                        let res = await this.validateCompleted()
                        if (!res) {
                            alert("End of course content")
                        }
                        else {
                            window.location.href = "{% url 'my_course' %}"
                        }
                    }
                    else if (currentGroupIndex != -1) {
                        this.groups[currentGroupIndex].completed = true
                        await this.changeGroup(this.groups[currentGroupIndex + 1].id)
                    }
                }
                else if (currentIndex != -1) {
                    this.contents[currentIndex].completed = true
                    await this.changeContent(this.contents[currentIndex + 1].id)
                }
                this.contentBoxLoading = false
            },
            async completeContent() {
                let self = this
                await $.ajax({
                    type: "POST",
                    url: "{% url 'complete_content' %}",
                    data: {
                        "csrfmiddlewaretoken": "{{csrf_token}}",
                        "id": self.active_content
                    },
                    success: function(res) {
                        if (res.status == "success") {
                            return;
                        }
                    }
                })
            },
            async getContent(id) {
                let self = this
                await $.ajax({
                type: "GET",
                url: "{% url 'get_course_info' %}",
                data: {
                    "by": "content",
                    "content": id
                },
                success: function(res){
                        if (res.status == "success") {
                            self.content_now.text_content = res.data.contents.content
                            self.content_now.isVideo = res.data.contents.is_video
                            self.content_now.video_link = res.data.contents.video_link
                            self.content_now.content_title = res.data.contents.title
                            self.content_now.group_title = res.data.groups.title
                        }
                    }
                })
                this.setLastViewed(id)
            },
            async getGroup(id) {
                let self = this

                await $.ajax({
                type: "GET",
                url: "{% url 'get_course_info' %}",
                data: {
                    "by": "group",
                    "group": id
                },
                success: function(res){
                        if (res.status == "success") {
                            self.contents = res.data.contents
                        }
                        self.getContentProgress(id)
                    }
                })
                return self.contents[0].id
            },
            async getGroupProgress() {
                let self = this
                await $.ajax({
                type: "GET",
                url: "{% url 'get_user_course_info' %}",
                data: {
                    "by": "course",
                    "course": this.course_id
                },
                success: function(res) {
                        if (res.status == "success") {
                            let data = res.data.group_progress
                            data.forEach(function(value, index) {
                                self.groups[index].completed = value.completed
                            })
                        }
                    }
                })
            },
            async getContentProgress(id) {
                let self = this
                await $.ajax({
                type: "GET",
                url: "{% url 'get_user_course_info' %}",
                data: {
                    "by": "group",
                    "group": id
                },
                success: function(res) {
                        if (res.status == "success") {
                            let data = res.data.content_progress
                            data.forEach(function(value, index) {
                                self.contents[index].completed = value.completed
                            })
                        }
                    }
                })
            },
            setLastViewed(id) {
                let self = this
                $.ajax({
                    type: "POST",
                    url: "{% url 'set_last_viewed' %}",
                    data: {
                        "id": id,
                        "csrfmiddlewaretoken": "{{csrf_token}}"
                    },
                })
            },
            unenroll() {
                let ans = confirm("Are You Sure You Want to Unenroll this course?");
                if (ans){
                    $.ajax({
                        type: "POST",
                        url: "{% url 'unenroll_course' %}",
                        data: {
                            "id": this.course_id,
                            "csrfmiddlewaretoken": "{{csrf_token}}"
                        },
                        success: function(res) {
                            if (res.status == "success") {
                                window.location.href = "{% url 'course_preview' course.id %}"
                            }
                        }
                    })
                }
            },
            async validateCompleted() {
                let self = this
                let completed;
                $.ajax({
                    type: "POST",
                    url: "{% url 'validate_completion' %}",
                    data: {
                        "id": this.course_id,
                        "csrfmiddlewaretoken": "{{csrf_token}}"
                    },
                    success: function(res) {
                        if (res.completed) {
                            completed =  true
                        }
                        else {
                            completed = false
                        }
                    }
                })
                return completed
            }
        },
        components: {
            "course-index": CourseIndex,
            "content-link": ContentLink
        }
    })
    app.mount("#app")
</script>
{% endblock %}