{% extends "main/main_dashboard.html" %}

{% block title %}My Courses{% endblock %}
{% block head %} 
{% load static %}
<link rel="stylesheet" href="{% static 'course/css/mycourse.css' %}">
{% endblock %}


{% block content %}
<div class="page-wrapper">
    <div class="welcome">
        <h2>Welcome back, {{user.name}} </h2>
    </div>
    <div class="nav-course">
        <div class="nav-list">
            <div id="nav-in-progress" class="nav-btn nav-active"> In progress</div>
            <div id="nav-completed" class="nav-btn"> Completed</div>
            <div id="nav-by-me"class="nav-btn"> Courses by me</div>
        </div>
    </div>
    <div class="course-container">
        <div class="in-progress">
            {% for course in course_inprogress %}
            <div class="course-card">
                <div class="course-info">
                    <div class="course-img">
                        <img src="/media/{{course.course.banner_image}}">
                    </div>
                    <div class="course-detail">
                        <h2>{{course.course.name}}</h2>
                        <div class="course-instructors">
                            {% for instructor in course.course.instructors.all %}
                            <div class="course-instructor">{{instructor.name}}</div>
                            {% endfor %}
                        </div>
                        <div class="course-user-detail">
                            Joined on {{course.start_date|date:"d M Y"}}
                        </div>
                        <div class="course-action">
                            <button class="resume-course-btn" data-link="{% url 'learn_course' course.course.id %}">Resume Course</button>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %} 
                <div class="no-course">
                    You haven't started any course.
                </div>
            {% endfor %}
        </div>
        <div class="completed">
            {% for course in course_completed %}
            <div class="course-card">
                <div class="course-info">
                    <div class="course-img">
                        <img src="/media/{{course.course.banner_image}}">
                    </div>
                    <div class="course-detail">
                        <h2>{{course.course.name}}</h2>
                        <div class="course-instructors">
                            {% for instructor in course.course.instructors.all %}
                            <div class="course-instructor">{{instructor.name}}</div>
                            {% endfor %}
                        </div>
                        <div class="course-user-detail">
                            Completed on {{course.complete_date|date:"d M Y"}}
                        </div>
                        <div class="course-action">
                            <button class="review-course-btn" data-link="{% url 'learn_course' course.course.id %}">Review Course</button>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %} 
                <div class="no-course">
                    You haven't completed any course.
                </div>
            {% endfor %}
        </div>
        <div class="by-me">
            <div class="add-new-course">
                <button id="add-course" class="add-course" data-link="{% url 'make_course'%}">Make New Course</button>
            </div>
            {% for course in course_byuser %}
            <div class="course-card">
                <div class="course-info">
                    <div class="course-img">
                        <img src="/media/{{course.banner_image}}">
                    </div>
                    <div class="course-detail">
                        <h2>{{course.name}}</h2>
                        <div class="course-instructors">
                            {% for instructor in course.instructors.all %}
                            <div class="course-instructor">{{instructor.name}}</div>
                            {% endfor %}
                        </div>
                        <div class="course-user-detail">
                            Edited on 
                        </div>
                        <div class="course-action">
                            <button class="review-course-btn" data-link="{% url 'learn_course' course.id %}">Edit Course</button>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %} 
                <div class="no-course">
                    You haven't made any course.
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block ending %} 
<script type="text/javascript" src="{% static 'course/js/mycourse.js' %}"></script>
<script>
    const gradient = "linear-gradient(" +
          "rgba(0, 0, 0, 0.3)," +
          "rgba(0, 0, 0, 0.5)" +
        "),"
    $(".welcome").css("background-image", gradient + "url({% static 'images/welcome_course.jpg' %})")
</script>
{% endblock %}