{% extends "main/main_dashboard.html" %}

{% block title %}{{course.name}}{% endblock %}
{% block head %} 
{% load static %}
<link rel="stylesheet" href="{% static 'course/css/preview.css' %}">
{% endblock %}


{% block content %}
        <div class="content">
            <div class="course">
                <h2>{{course.name}}</h2>
                <button class="Enroll">Enroll</button>
            </div>
            <div class="details">
                <h3>Details</h3>
                <div class="about">
                    <h4>About The Course</h4>
                    <p>{{course.description}}</p>
                </div>
                <div class="instructor">
                    <h4>Instructors</h4>
                    <div class="instructors">
                        {% for instructor in instructors %}
                        <div class="profile">
                            <img src="/media/{{instructor.profile_image}}">
                            <p>{{ instructor.name }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block ending %}
<script type="module" src="{% static 'course/js/preview.js' %}"></script>
<script type="text/javascript">
    $(".course").css("background-image", "linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/media/{{course.banner_image}})")
</script>
{% endblock %}