{% extends "main/main_dashboard.html" %}

{% block title %}Search Course{% endblock %}
{% block head %} 
{% load static %}
<link rel="stylesheet" href="{% static 'course/css/search.css' %}">
{% endblock %}


{% block content %}
    <div class="page-wrapper">
        <section class="search">
            <h2>Search Course</h2>
            <input id="search-query" type="text" class="search_course" placeholder="Search a Topic" data-url-autocomplete="{% url 'autocomplete_search' %}">
            <button id="search-submit" type="submit" class="result" data-url-search="{% url 'search_info' %}">Search</button>
        </section>
        {% if category %} 
        <div class="category-container">
            <div class="category-tag">
                {{category|title}}
            </div>
        </div>
        {% endif %}
        <section class="course-container">
        </section>
    </div>
{% endblock %}
{% block ending %}
<script>
    let token = "{{csrf_token}}"
</script>
<script type="text/html" id="loader-skeleton">
    <div class="course course-skeleton">
        <div class="course-card-img loading-skeleton"></div>
        <div class="course-card-title loading-skeleton"></div>
        <div class="course-card-desc loading-skeleton"></div>
    </div>
    <div class="course course-skeleton">
        <div class="course-card-img loading-skeleton"></div>
        <div class="course-card-title loading-skeleton"></div>
        <div class="course-card-desc loading-skeleton"></div>
    </div>
    <div class="course course-skeleton">
        <div class="course-card-img loading-skeleton"></div>
        <div class="course-card-title loading-skeleton"></div>
        <div class="course-card-desc loading-skeleton"></div>
    </div>
    <div class="course course-skeleton">
        <div class="course-card-img loading-skeleton"></div>
        <div class="course-card-title loading-skeleton"></div>
        <div class="course-card-desc loading-skeleton"></div>
    </div>
    <div class="course course-skeleton">
        <div class="course-card-img loading-skeleton"></div>
        <div class="course-card-title loading-skeleton"></div>
        <div class="course-card-desc loading-skeleton"></div>
    </div>
    <div class="course course-skeleton">
        <div class="course-card-img loading-skeleton"></div>
        <div class="course-card-title loading-skeleton"></div>
        <div class="course-card-desc loading-skeleton"></div>
    </div>
    <div class="course course-skeleton">
        <div class="course-card-img loading-skeleton"></div>
        <div class="course-card-title loading-skeleton"></div>
        <div class="course-card-desc loading-skeleton"></div>
    </div>
</script>
<script type="text/javascript" src="{% static 'course/js/search.js' %}"></script>
{% endblock %}