{% extends "main/main_dashboard.html" %}

{% block title %}Search Courses{% endblock %}
{% block head %} 
{% load static %}
<link rel="stylesheet" href="{% static 'course/css/search.css' %}">
{% endblock %}


{% block content %}
        <section class="search">
            <h2>Search Courses</h2>
            <input type="text" class="search_notes" placeholder="Search a Course">
            <button type="submit" class="result">Search</button>
        </section>
        <section class="public">
            <div class="courses">
                <img src="../../src/placeholder.jpg">
                <h4>Course Name</h4>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div>
            </div>
            <div class="courses">
                <img src="../../src/placeholder1.jpg">
                <h4>Course Name</h4>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div>
            </div>
        </section>
        
        <script type="module" src="{% static 'course/js/search.js' %}"></script>
{% endblock %}