{% extends "main/main_dashboard.html" %}

{% block title %}Search Course{% endblock %}
{% block head %} 
{% load static %}
<link rel="stylesheet" href="{% static 'course/css/search.css' %}">
{% endblock %}


{% block content %}
    <div class="page-wrapper">
        <section class="search">
            <h2>Search Course</h2>
            <input id="search-query" type="text" class="search_course" placeholder="Search a Topic" data-url-autocomplete="{% url 'autocomplete_search' %}">
            <button id="search-submit" type="submit" class="result" data-url-search="{% url 'search_info' %}">Search</button>
        </section>
        {% if category %} 
        <div class="category-container">
            <div class="category-tag">
                {{category|title}}
            </div>
        </div>
        {% endif %}
        <section class="course-container">
            {% for course in courses %}
            <div class="course">
                <img src="/media/{{course.thumbnail}}" data-link="{% url 'view_course' course.id %}">
                <input class="course-id" type="hidden" value="{{course.id}}">
                <div class="action">
                    <input type="hidden" class="course-is-private" value="false">
                </div>
                <div class="rating-stars">
                    <i class="fa fa-star {% if course.overall_rating >= 1 %} star-rating-active {% endif %} " id="rating-1"></i>
                    <i class="fa fa-star {% if course.overall_rating >= 2 %} star-rating-active {% endif %}" id="rating-2"></i>
                    <i class="fa fa-star {% if course.overall_rating >= 3 %} star-rating-active {% endif %}" id="rating-3"></i>
                    <i class="fa fa-star {% if course.overall_rating >= 4 %} star-rating-active {% endif %}" id="rating-4"></i>
                    <i class="fa fa-star {% if course.overall_rating >= 5 %} star-rating-active {% endif %}" id="rating-5"></i>
                </div>
                <div class="course-info">
                    <h4 data-link="{% url 'view_course' course.id %}">{{course.title}}</h4>
                    <div class="course-owner">By {{course.owner.name}}</div>
                </div>
            </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}
{% block ending %}
<script>
    let token = "{{csrf_token}}"
</script>
<script type="text/html" id="loader-skeleton">
    <div class="course course-skeleton">
        <div class="course-card-img loading-skeleton"></div>
        <div class="course-card-title loading-skeleton"></div>
        <div class="course-card-desc loading-skeleton"></div>
    </div>
    <div class="course course-skeleton">
        <div class="course-card-img loading-skeleton"></div>
        <div class="course-card-title loading-skeleton"></div>
        <div class="course-card-desc loading-skeleton"></div>
    </div>
    <div class="course course-skeleton">
        <div class="course-card-img loading-skeleton"></div>
        <div class="course-card-title loading-skeleton"></div>
        <div class="course-card-desc loading-skeleton"></div>
    </div>
    <div class="course course-skeleton">
        <div class="course-card-img loading-skeleton"></div>
        <div class="course-card-title loading-skeleton"></div>
        <div class="course-card-desc loading-skeleton"></div>
    </div>
    <div class="course course-skeleton">
        <div class="course-card-img loading-skeleton"></div>
        <div class="course-card-title loading-skeleton"></div>
        <div class="course-card-desc loading-skeleton"></div>
    </div>
    <div class="course course-skeleton">
        <div class="course-card-img loading-skeleton"></div>
        <div class="course-card-title loading-skeleton"></div>
        <div class="course-card-desc loading-skeleton"></div>
    </div>
    <div class="course course-skeleton">
        <div class="course-card-img loading-skeleton"></div>
        <div class="course-card-title loading-skeleton"></div>
        <div class="course-card-desc loading-skeleton"></div>
    </div>
</script>
<script type="text/javascript" src="{% static 'course/js/search.js' %}"></script>
{% endblock %}