.home_section {
    margin-bottom: 0
}

h2{
    color: white;
    font-size: 50px;
}

.course button{
    font-size: large;
    font-weight: bold;
}

.course{
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 10% calc(5% + 100px);
    background-position: center;
    text-align: center;
}

.details h3{
    text-align: center;
    background-color: #DDDDDD;
    color: #323950;
    font-size: xx-large;
}

.profile{
    text-align: center;
    margin: 30px 20px;
}

.instructors{
    display: flex;
    align-items: center;
    flex-direction: row wrap;
    justify-content: center;
}

.profile img{
    margin-top: 2%;
    max-height: 200px;
    border-radius: 30px;
}

.about, .instructors{
    padding: 10px calc(5% + 100px)
}

.about p{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}

.about h4{
    margin-top: 2%;
    text-align: center;
    font-size: large;
}

.instructor h4{
    margin-top: 2%;
    text-align: center;
    font-size: larger;
}

.content{
    transition: 0.5s ease;
}

.content.active{
    transition: 0.5s ease;
    margin-left: 15%;
}