{% extends "main/main.html" %}

{% block title %}Note Archive{% endblock %}
{% block head %} 
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'notes/css/note_archive.css' %}">
{% endblock %}


{% block content %}
        <a href="../upload/upload.html"><button class="add">Upload Your Notes</button></a>
        <section class="search">
            <input type="text" class="search_notes" placeholder="Search Your Notes">
            <button type="submit" class="result">Search</button>
        </section>
        <section class="private">
            <h3>Your Private Notes</h3>
            <div class="notes">
                <img src="../../src/note_default.jpg">
                <h4>Note Name</h4>
            </div>
        </section>
        <section class="public">
            <h3>Your Shared Notes</h3>
            <div class="notes">
                <img src="../../src/note_default.jpg">
                <h4>Note Name</h4>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div>
            </div>
        </section>
        <div class="sidebar">
            <div class="logo_content">
                <div class="logo">
                    <img src="../../src/logo.jpg" alt="logo">
                    <div class="logo_name">StudyMate</div>
                </div>
                <img src="../../src/menu_burger.jpg" alt="menu_logo" id="menu">
            </div>
            <ul class="nav_list">
                <li>
                    <a href="../dashboard/dashboard.html">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Dashboard</span>
                    </a>
                    <span class="tooltip">Dashboard</span>
                </li>
                <li>
                    <a href="../agenda/agenda.html">
                        <i class="fa fa-calendar fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Agenda</span>
                    </a>
                    <span class="tooltip">Agenda</span>
                </li>
                <li>
                    <a href="../note_archive/note_archive.html">
                        <i class="fa fa-book fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Note Archive</span>
                    </a>
                    <span class="tooltip">Note Archive</span>
                </li>
                <li>
                    <a href="../note_share/share.html">
                        <i class="fa fa-share-alt-square fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Note Share</span>
                    </a>
                    <span class="tooltip">Note Share</span>
                </li>
                <li>
                    <a href="../relax/relax.html">
                        <i class="fa fa-coffee fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Relax Room</span>
                    </a>
                    <span class="tooltip">Relax Room</span>
                </li>
                <li>
                    <a href="../search/search.html">
                        <i class="fa fa-search fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Search Courses</span>
                    </a>
                    <span class="tooltip">Search</span>
                </li>
                <li>
                    <a href="../settings/settings.html">
                        <i class="fa fa-cog fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Settings</span>
                    </a>
                    <span class="tooltip">Settings</span>
                </li>
                <li>
                    <a href="../login/login.html">
                        <i class="fa fa-sign-out fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Logout</span>
                    </a>
                    <span class="tooltip">Logout</span>
                </li>
            </ul>
        </div>
        <br>
        <br>
        <br>
        <script type="module" src="{% static 'notes/js/note_archive.js' %}"></script>
{% endblock %}