{% extends "main/main.html" %}

{% block title %}Upload Note{% endblock %}
{% block head %} 
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'notes/css/upload.css' %}">
{% endblock %}


{% block content %}
        <h2>Upload Your Notes</h2>
        <div class="data">
            <h3>Enter Title</h3>
            <input class="name" placeholder="Enter Your Note Title">
            <div class="links">
                <h3>Enter Note Link</h3>
                <input class="link" placeholder="Enter Your Note Link">
            </div>
            <div class="desc">
                <h3>Description</h3>
                <input class="description" placeholder="Enter a Description">
            </div>
            <div class="buttons">
                <button class="public">Set to Public</button>
                <button class="private">Set to Private</button>
            </div>
            <button class="submit">Upload</button>
        </div>
        <div class="sidebar">
            <div class="logo_content">
                <div class="logo">
                    <img src="../../src/logo.jpg" alt="logo">
                    <div class="logo_name">StudyMate</div>
                </div>
                <img src="../../src/menu_burger.jpg" alt="menu_logo" id="menu">
            </div>
            <ul class="nav_list">
                <li>
                    <a href="../dashboard/dashboard.html">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Dashboard</span>
                    </a>
                    <span class="tooltip">Dashboard</span>
                </li>
                <li>
                    <a href="../agenda/agenda.html">
                        <i class="fa fa-calendar fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Agenda</span>
                    </a>
                    <span class="tooltip">Agenda</span>
                </li>
                <li>
                    <a href="../note_archive/note_archive.html">
                        <i class="fa fa-book fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Note Archive</span>
                    </a>
                    <span class="tooltip">Note Archive</span>
                </li>
                <li>
                    <a href="../note_share/share.html">
                        <i class="fa fa-share-alt-square fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Note Share</span>
                    </a>
                    <span class="tooltip">Note Share</span>
                </li>
                <li>
                    <a href="../relax/relax.html">
                        <i class="fa fa-coffee fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Relax Room</span>
                    </a>
                    <span class="tooltip">Relax Room</span>
                </li>
                <li>
                    <a href="../search/search.html">
                        <i class="fa fa-search fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Search Courses</span>
                    </a>
                    <span class="tooltip">Search</span>
                </li>
                <li>
                    <a href="../settings/settings.html">
                        <i class="fa fa-cog fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Settings</span>
                    </a>
                    <span class="tooltip">Settings</span>
                </li>
                <li>
                    <a href="../login/login.html">
                        <i class="fa fa-sign-out fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Logout</span>
                    </a>
                    <span class="tooltip">Logout</span>
                </li>
            </ul>
        </div>
        <br>
        <br>
        <script type="module" src="{% static 'notes/js/upload.js' %}"></script>
{% endblock %}