.alfons{
    float: left;
    margin-top: 2%;
    text-align: center;
    margin-left: 30%;
}

.alfons img{
    width: 200px;
}

.nic{
    margin-left: 55%;
    margin-top: 2%;
}

.nic img{
    width: 200px;
}

.nic h4{
    margin-left: 4.5%;
}

h2{
    text-align: center;
    margin-top: 2%;
}

.description{
    margin-top: 5%;
    text-align: center;
}

.description h4{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
}