h2{
    color: white;
    padding: 15px;
}

.inputs{
    text-align: center;
    background-color: #32393E;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    border-radius: 15px;
}

.emailbox{
    padding: 5px 10px;
    border-radius: 10px;
    width: 20%;
}

.name{
    padding: 5px 10px;
    border-radius: 10px;
    width: 20%;
    margin-top: 2%;
}

.message{
    margin-top: 2%;
    border-radius: 10px;
    padding: 5px 10px;
    width: 50%;
    height: 250px;
}

.send{
    margin-top: 2%;
    margin-bottom: 5%;
}