h2{
    color: white;
    font-size: 50px;
}

.course button{
    font-size: large;
    font-weight: bold;
}

.course{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../static/images/placeholder.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 10% 0%;
    background-position: center;
    text-align: center;
}

.details h3{
    text-align: center;
    background-color: #DDDDDD;
    color: #323950;
    font-size: xx-large;
}

.profile{
    text-align: center;
    margin-top: 1%;
}

.instructors{
    column-count: 2;
}

.profile img{
    margin-top: 2%;
    max-height: 200px;
}

.about p{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}

.about h4{
    margin-top: 2%;
    text-align: center;
    font-size: large;
}

.instructor h4{
    margin-top: 2%;
    text-align: center;
    font-size: larger;
}

.content{
    transition: 0.5s ease;
}

.content.active{
    transition: 0.5s ease;
    margin-left: 15%;
}