.sidebar.collapse{
    display: none;
    transition: 0.5s ease;
    opacity: 0;
}

.home_section.collapse{
    opacity: 0;
    transition: 0.5s ease;
    display: none;
}

.collapse{
    display: flexbox;
    margin-left: 90%;
    margin-top: 2%;
    background-color: black;
}

.collapse:hover{
    color: cyan;
    background-color: black;
}

.text{
    text-shadow: 10px, 10px, 10px, #000000;
    color: white;
    font-size: xx-large;
    text-align: center;
    margin-top: 7%;
    transition: 0.5s ease;
    margin-left: 1%;
}

.text.position{
    margin-top: 11%;
    transition: 0.5s ease;
}

.audio{
    margin-top: 2%;
    text-align: center;
}

.toogle-player{
    bottom:70px;
    left: 90px;
    position: absolute;
    transition: 0.5s ease;
}

.toogle button{
    padding: 0px;
    background-color: inherit;
    margin-right: 6px;
}

.toogle-player.position{
    left: 20px;
    bottom: 50px;
}


.toogle {
    display: flex;
    align-items: center;
}

.status {
    color: white;
    margin-top: 1%;
    font-weight: bold;
    font-size: large;
}

.playButton{
    opacity: 1;
}

.pauseButton{
    margin-left: 4px;
    opacity: 0.5;
}

.playButton.pause{
    opacity: 0.5;
}

.pauseButton.pause{
    opacity: 1;
}