header {
    background-color: rgba(0, 0, 0, 1);
}

.home_section {
    margin-bottom: -70px;
}

.banner{
    top: 0;
    left: 0;
    padding-top: 10%;
    padding-bottom: 15%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 70%;
    background-attachment: scroll;
    color: white;
    padding-left: 3%;
    font-size: 50px;
    z-index: 99;
}

.banner button{
    animation: buttonIn 1s ease 1s;
    font-size: large;
    padding: 10px 20px;
    background-color: #0AC8D8;
}

.banner button:hover{
    background-color: #079AA6;
    box-shadow: 0 3px 30px 0 rgba(10, 212, 229, 0.15)
}

.par{
    padding: 8% 0%;
    background-color: #F4FAFB;
}

.par h2{
   margin-left: 5%;
   font-size: 30px; 
   color: #0AC8D8;
}

.par p{
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 1%;
    line-height: 30px;
    font-size: large;
}

.ft{
    text-align: center;
    margin-top: 3%;
}

.box-area {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 100%;
    max-width: 80%;
    justify-content: center;
}

.box{
    display: inline-block;
    background-color: #EEEEEE;
    padding: 40px 40px;
    text-align: left;
    width: 25%;
    margin: 10px 10px;
}

.box h3{
    margin-top: 5%;
}

.box p{
    margin-top: 2%;
}

.midbox{
    display: inline-block;
    background-color: #EEEEEE;
    padding: 5% 5%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
}

.midbox h3{
    margin-top: 5%;
}

.midbox p{
    margin-top: 2%;
}

.faq{
    background-color: aliceblue;
    margin-top: 5%;
    padding: 2% 5%;
    text-align: center;
}

.q{
    margin-top: 2%;
}

.q a{
    color: #01a1af;
    text-decoration: none;
}

@keyframes buttonIn {
    from {
        visibility: hidden;
        transform: translateY(25px);
    }
    to {
        visibility: visible;
    }
}

@keyframes textIn {
    from {
        visibility: hidden;
        top: -50px;
    }
    to {
        visibility: visible;
        top: 0px;
    }
}

.banner-text{
    position: relative;
    top: 0px;
    left: 0;
    animation: textIn 2s ease 1s;
}

.animate-left.animate {
    animation: textInLeft 1.5s ease-in-out;
    position: inherit;
}

.animate-right.animate {
    animation: textInRight 1.5s ease-in-out;
    position: inherit;
}

.animate-fade.animate {
    animation: textFade 1.5s ease;
}

@keyframes textInLeft {
    from {
        visibility: hidden;
        transform: translate(-50px, -25px);
    }
    to {
        visibility: visible;
    }
}

@keyframes textInRight {
    from {
        visibility: hidden;
        transform: translate(50px, 25px);
    }
    to {
        visibility: visible;
    }
}

@keyframes textFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}