{% extends "main/main.html" %}

{% block title %}About{% endblock %}
{% block head %} 
{% load static %}
<link rel="stylesheet" href="{% static 'dashboard/css/about.css' %}">
{% endblock %}


{% block content %}
        <section class="Creators">
            <h2>Creators</h2>
            <div class="alfons">
                <a href="https://github.com/ArnedyNavi"><img src = "../../src/profile.jpg" alt="Profile"></a>
                <h4>Alfonsus Rodriques Rendy</h4>
            </div>
            <div class="nic">
                <a href="https://github.com/Nicholas-Sidharta12365"><img src = "../../src/nic.jpg" alt="Profile"></a>
                <h4>Nicholas Sidharta</h4>
            </div>
        </section>
        <section class="description">
            <h2>What is Studymate?</h2>
            <h4>Studymate is a web application designed to help students and learners in their studying journey. Studymate is built to establish an ease of access to different types of necessity when learning or discovering new things. Our goal is to create the perfect virtual studying environment so that students can focus more on their studies. Our platform is a community based system where the community will decide the workflow of this web application. Finally, we hope you can enjoy this web application and may you experince a comfortable studying journey.</h4>
            <h4>- The Developers -</h4>
        </section>
{% endblock %}