{% extends "main/main_dashboard.html" %}

{% block title %}Add Courses{% endblock %}
{% block head %} 
{% load static %}
<link rel="stylesheet" href="{% static 'dashboard/css/add.css' %}">
{% endblock %}


{% block content %}
        <h2>Add a New Course</h2>
        <div class="data">
            <h3>Upload a Thumbnail</h3>
            <select>
                <option>Link</option>
                <option>Local File</option>
            </select>
            <input class="thumbnail" type="text" placeholder="Enter a Link to a Picture">
            <h3>Enter Course Name</h3>
            <input class="name" placeholder="Enter The Name of The Course">
            <div class="links">
                <h3>Enter Course Link</h3>
                <input class="link" placeholder="Enter The Link to The Course">
            </div>
            <button class="submit">Publish</button>
        </div>
{% endblock %}
{% block ending %}
        <script type="module" src="{% static 'dashboard/js/add.js' %}"></script>
{% endblock %}