{% extends "main/main.html" %}

{% block title %}Contacts{% endblock %}
{% block head %} 
{% load static %}
<link rel="stylesheet" href="{% static 'dashboard/css/contacts.css' %}">
{% endblock %}


{% block content %}
        <section class="inputs">
            <h2>Contact</h2>
            <input type="email" class="emailbox" placeholder="Enter Your Email" autocomplete="off" autofocus>
            <br>
            <input type="text" class="name" placeholder="Enter Your Name" autocomplete="off">
            <br>
            <textarea type="text" rows="5" cols= "60" class="message" placeholder="Enter Your Message"></textarea>
            <br>
            <button type="submit" class="send">Send</button>
        </section>
        <br>
        <br>
        <br>
{% endblock %}