{% extends "main/main_dashboard.html" %}

{% block title %}Dashboard{% endblock %}
{% block head %} 
{% load static %}
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}


{% block content %}
    <div class="flex-container-top">
        <section class="agenda">
            <form id="add-event-form" method=POST action="{% url 'agenda' %}">
                <input name="title" type="text" placeholder="Enter New Event Today" class="todo_input" />
                <button class="todo_button" type="submit">Add Event
                    <i class="fa fa-plus-square"></i>
                </button>
                <div class="select">
                    <select name="todos" class="filter_todo">
                        <option value="all">All</option>
                        <option value="completed">Completed</option>
                        <option value="uncompleted">Uncompleted</option>
                    </select>
                </div>
            </form>
            <div class="todo_container">
                <ul class="todo_list"></ul>
            </div>
        </section>
        <section class="recommend">
            {% for course in random_courses %}
            <div class="trans fade">
                <img class="img-recommend" src="/media/{{course.banner_image}}" data-link="{% url 'course_preview' course.id%}">
                <div class="caption">{{course.name}}</div>
            </div>
            {% endfor %}
            <a class="previous" onclick="slides(-1)">&#10094;</a>
            <a class="next" onclick="slides(1)">&#10095;</a>
            <div class="dot-group">
                {% for course in random_courses %}
                <span class="dot" onclick="currentSlide({{ forloop.counter }})"></span>
                {% endfor %}
            </div>
        </section>
    </div>
    <br>
    <br>
    <section class="note_rec">
        <h2>Note Recommendation</h2>
        <div class="notes-container">
        {% for note in random_note %}
        <div class="notes">
            <img src="/media/{{note.thumbnail}}" data-link="{% url 'view_notes' note.id %}" onerror="this.onerror=null; this.src='/media/notes/thumbnail/default.svg'" >
            <input class="notes-id" type="hidden" value="{{note.id}}">
            <div class="action">
                <input type="hidden" class="notes-is-private" value="false">
            </div>
            <div class="rating-stars">
                <i class="fa fa-star {% if note.overall_rating >= 1 %} star-rating-active {% endif %} " id="rating-1"></i>
                <i class="fa fa-star {% if note.overall_rating >= 2 %} star-rating-active {% endif %}" id="rating-2"></i>
                <i class="fa fa-star {% if note.overall_rating >= 3 %} star-rating-active {% endif %}" id="rating-3"></i>
                <i class="fa fa-star {% if note.overall_rating >= 4 %} star-rating-active {% endif %}" id="rating-4"></i>
                <i class="fa fa-star {% if note.overall_rating >= 5 %} star-rating-active {% endif %}" id="rating-5"></i>
            </div>
            <div class="notes-info">
                <h4 data-link="{% url 'view_notes' note.id %}">{{note.title}}</h4>
                <div class="notes-owner">By {{note.owner.name}}</div>
            </div>
        </div>
        {% endfor %}
        </div>
        <div class="search-more">
            <button onclick="window.location.href = this.dataset.link" data-link="{% url 'note_share' %}">Search More</button>
        </div>
    </section>
{% endblock %} 
{% block ending  %} 
<script type="text/javascript" src="{% static 'dashboard/js/dashboard.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script>
    var token = "{{csrf_token}}"
    passDataAgenda("{{agenda}}")
    $('#add-event-form').submit(function (e) {
        e.preventDefault();
        var dateNow = currentdate.getFullYear() + "-" + (currentdate.getMonth()+1)  + "-" + currentdate.getDate();
        
        var date = dateNow
        
        var title = this.title.value
        
        if(title === ""){
            return null;
        }

        if(title.length > 100){
            alert("Input must be between 0 and 100 characters");
            return null;
        }

        $.ajax({
            type: "POST",
            url: this.action,
            data: {
                "title": title,
                "date": date,
                "action": "add",
                "csrfmiddlewaretoken" : token,
            }, 
            success: function(response){
                addTodo({'id': response, 'title': title, 'due': date, 'completed':false})
            }
        })
    })
</script>
<script>
    var slidesIndex = 1;
    showSlides(slidesIndex);

    function slides(i){
        showSlides(slidesIndex += i);
    }

    function currentSlide(i){
        showSlides(slidesIndex = i);
    }

    function showSlides(i){
            var n;
            var slide = document.getElementsByClassName("trans");
            var dot = document.getElementsByClassName("dot");
            if (i > slide.length) {
                slidesIndex = 1;
            }
            if (i < 1){
                slidesIndex = slide.length;
            }
            for(n = 0; n < slide.length; n++){
                slide[n].style.display = "none";
            }
            for(n = 0; n < dot.length; n++){
                dot[n].className = dot[n].className.replace(" dotActive", "");
            }
            slide[slidesIndex-1].style.display = "block";
            dot[slidesIndex-1].className += " dotActive";
        }
</script>
{% endblock %}