{% extends "main/main_dashboard.html" %}

{% block title %}Relax Room{% endblock %}
{% block head %} 
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'dashboard/css/relax.css' %}">
{% endblock %}


{% block content %}
<button class="collapse">Collapse</button>
<section class="text">
    <h2 id="greetings">Good Evening User</h2>
    <h1></h1>
</section>
<section class="audio">
    <div id="player"></div>
</section>
<section class="toogle-player">
    <div class="toogle">
        <button id="play" class="playButton"><i class="fa fa-play fa-2x" aria-hidden="true"></i></button>
        <button id="pause" class="pauseButton"><i class="fa fa-pause fa-2x" aria-hidden="true"></i></button>
    </div>
    <div class="status" id="status-player">Loading ...</div>
</section>
{% endblock %} 
{% block ending %}
    <script src="//www.youtube.com/iframe_api"></script> 
    <script>
        const defaultBG = ["{% static 'images/default_relax_bg.jpg' %}"]
        
        const user = "{{user_name}}";
        let image_method = "{{image_method}}"
        if (image_method == "local"){
            let userBG = "/media/{{bgimage}}";
            document.body.style.backgroundImage = "url('" + userBG + "')";

        }
        else if (image_method == "link") {
            let userBG = "{{bgimage}}"
            document.body.style.backgroundImage = "url('" + userBG + "')";
        }
        else {
            document.body.style.backgroundImage = "url('" + defaultBG + "')";
        }
        
        let music = {{music|safe}}
        let textData = {{text|safe}}
    </script>  
    <script type="text/javascript" src="{% static 'dashboard/js/relax.js' %}"></script> 
{% endblock %}