{% extends "main/main_dashboard.html" %}

{% block title %}Relax Room{% endblock %}
{% block head %} 
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'dashboard/css/relax.css' %}">
{% endblock %}


{% block content %}
<button class="collapse">Collapse</button>
<section class="text">
    <h2 id="greetings">Good Evening User</h2>
    <h1></h1>
</section>
<section class="audio">
    <div id="player"></div>
</section>
<section class="toogle-player">
    <div class="status">Playing ... </div>
</scetion>
{% endblock %} 
{% block ending %}
    <script src="//www.youtube.com/iframe_api"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/relax.js' %}"></script>  
    <script>
        const defaultBG = ["{% static 'images/default_relax_bg.jpg' %}"]
        
        const user = "{{user_name}}";
        console.log(user)
        document.body.style.backgroundImage = "url('" + defaultBG + "')";
    </script>  
{% endblock %}