{% extends "main/main.html" %}

{% block title %}Search Courses{% endblock %}
{% block head %} 
{% load static %}
<link rel="stylesheet" href="{% static 'dashboard/css/search.css' %}">
{% endblock %}


{% block content %}
        <section class="search">
            <h2>Search Courses</h2>
            <input type="text" class="search_notes" placeholder="Search a Course">
            <button type="submit" class="result">Search</button>
        </section>
        <section class="public">
            <div class="courses">
                <img src="../../src/placeholder.jpg">
                <h4>Course Name</h4>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div>
            </div>
            <div class="courses">
                <img src="../../src/placeholder1.jpg">
                <h4>Course Name</h4>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div>
            </div>
        </section>
        <div class="sidebar">
            <div class="logo_content">
                <div class="logo">
                    <img src="../../src/logo.jpg" alt="logo">
                    <div class="logo_name">StudyMate</div>
                </div>
                <img src="../../src/menu_burger.jpg" alt="menu_logo" id="menu">
            </div>
            <ul class="nav_list">
                <li>
                    <a href="../dashboard/dashboard.html">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Dashboard</span>
                    </a>
                    <span class="tooltip">Dashboard</span>
                </li>
                <li>
                    <a href="../agenda/agenda.html">
                        <i class="fa fa-calendar fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Agenda</span>
                    </a>
                    <span class="tooltip">Agenda</span>
                </li>
                <li>
                    <a href="../note_archive/note_archive.html">
                        <i class="fa fa-book fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Note Archive</span>
                    </a>
                    <span class="tooltip">Note Archive</span>
                </li>
                <li>
                    <a href="../note_share/share.html">
                        <i class="fa fa-share-alt-square fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Note Share</span>
                    </a>
                    <span class="tooltip">Note Share</span>
                </li>
                <li>
                    <a href="../relax/relax.html">
                        <i class="fa fa-coffee fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Relax Room</span>
                    </a>
                    <span class="tooltip">Relax Room</span>
                </li>
                <li>
                    <a href="../search/search.html">
                        <i class="fa fa-search fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Search Courses</span>
                    </a>
                    <span class="tooltip">Search</span>
                </li>
                <li>
                    <a href="../settings/settings.html">
                        <i class="fa fa-cog fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Settings</span>
                    </a>
                    <span class="tooltip">Settings</span>
                </li>
                <li>
                    <a href="../login/login.html">
                        <i class="fa fa-sign-out fa-2x"></i>
                        <span class="links_name">&nbsp; &nbsp; Logout</span>
                    </a>
                    <span class="tooltip">Logout</span>
                </li>
            </ul>
        </div>
        <br>
        <br>
        <br>
        <script type="module" src="{% static 'dashboard/js/search.js' %}"></script>
{% endblock %}