
{% extends 'main/main.html' %}

{% block title %} 
Profile
{% endblock %}

{% block head %} 
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'account/css/profile.css' %}">
{% endblock %}

{% block link_title %} <button>Your Profile</button> {% endblock %} 

{% block content %}
<div class="sidebar">
    <div class="logo_content">
        <div class="logo">
            <img src="{% static 'images/logo.jpg' %}" alt="logo">
            <div class="logo_name">StudyMate</div>
        </div>
        <img src="../../src/menu_burger.jpg" alt="menu_logo" id="menu">
    </div>
    <ul class="nav_list">
        <li>
            <a href="/dashboard">
                <img src="../../src/dashboard.jpg" alt="dashboard">
                <span class="links_name">&nbsp; &nbsp; Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="../agenda/agenda.html">
                <img src="../../src/agenda.jpg">
                <span class="links_name">&nbsp; &nbsp; Agenda</span>
            </a>
            <span class="tooltip">Agenda</span>
        </li>
        <li>
            <a href="note/archive">
                <img src="../../src/note_archive.jpg">
                <span class="links_name">&nbsp; &nbsp; Note Archive</span>
            </a>
            <span class="tooltip">Note Archive</span>
        </li>
        <li>
            <a href="note/share">
                <img src="../../src/note_share.jpg">
                <span class="links_name">&nbsp; &nbsp; Note Share</span>
            </a>
            <span class="tooltip">Note Share</span>
        </li>
        <li>
            <a href="../relax/relax.html">
                <img src="../../src/relax_room.jpg">
                <span class="links_name">&nbsp; &nbsp; Relax Room</span>
            </a>
            <span class="tooltip">Relax Room</span>
        </li>
        <li>
            <a href="../search/search.html">
                <img src="../../src/search_courses.jpg">
                <span class="links_name">&nbsp; &nbsp; Search Courses</span>
            </a>
            <span class="tooltip">Search</span>
        </li>
        <li>
            <a href="/account/setting">
                <img src="../../src/settings.jpg">
                <span class="links_name">&nbsp; &nbsp; Settings</span>
            </a>
            <span class="tooltip">Settings</span>
        </li>
        <li>
            <a href="account/login">
                <img src="../../src/logout.jpg">
                <span class="links_name">&nbsp; &nbsp; Logout</span>
            </a>
            <span class="tooltip">Logout</span>
        </li>
    </ul>
</div>
<section class="profile">
    <img src="../../src/profile.jpg">
    <h4>Admin</h4>
</section>
<section class="recentnotes">
    <h2>Recent Note Post</h2>
</section>
<script type="module" src="profile.js"></script>
{% endblock %}