{% extends 'main/main.html' %}

{% block title %} 
Register
{% endblock %}

{% block head %} 
{% load static %}
<script src="{% static 'account/js/register.js' %}" type="text/javascript"></script>
{% endblock %}


{% block link %}{% url 'login' %}{% endblock %} 
{% block link_title %} Login {% endblock %} 
{% block content %}
<div class="register-title">
    <h1>Welcome to StudyMate</h1>
    <h1>Please Register before continuing</h1>
</div>
<div class="message">
    {{message}}
</div>

<section class = "register-box">
    <h2>Register</h2>
    <form method="POST">
        {% csrf_token %}
        <h4 class="input-label" id="usertext">Email</h4>
        <input class="input-box email" name="email" placeholder="Enter Your Email" type="email" autofocus autocomplete="off" value="{{email}}" required>

        <h4 class="input-label"  id="input-name">Name</h4>
        <input class="input-box name" name="name" placeholder="Enter Your Name" type="text" autofocus autocomplete="off" value="{{name}}" required>

        <h4 class="input-label"  id="usertext">Username</h4>
        <input class="input-box username" name="username" placeholder="Enter Your Username" type="text" autofocus autocomplete="off" value="{{username}}" required>

        <h4 class="input-label"  id="passtext">Password</h4>
        <input class="input-box password" name="password" placeholder="Enter Your Password" type="password" autocomplete="off" value="{{password}}" required>

        <h4 class="input-label"  id="passtext">Re-Enter Password</h4>
        <input class="input-box password" placeholder="Re-type Your Password" type="password" autocomplete="off" required>

        <div class="submit">
            <button type="submit" class="register-btn">Register</button>
        </div>
    </form>
    <h5>Already Have An Account?  <a href="{% url 'login' %}">Login</a></h5>
</section>
{% endblock %}